<article class="wine">

<header>
	<h2><%= @wine.name%> </h2>
</header>
<p><label>Wine year:</label> <%= @wine.year %></p>
<p><label>Wine winery:</label> <%= @wine.winery %></p>
<p><label>Wine country:</label> <%= @wine.country %></p>
<p><label>Wine varietal:</label> <%= @wine.varietal %></p>
<%= link_to 'All Wines', wines_path %>
